/*------------------------------------*\
    #SKIP CONTENT LINK
\*------------------------------------*/
/* 
 * https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/
 * https://www.w3.org/TR/WCAG20-TECHS/G1.html
*/
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: 10%;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid var(--prim-2-55);
    text-align:center;
    font-size:1.2em;
    z-index:999;
}