/*------------------------------------*\
    #JOIN FORM
\*------------------------------------*/
.b-join {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 .5em;
}

.b-join__header {
  z-index: 2;
  margin-bottom: 3em;
}

.b-join__heading {
  margin-bottom: 0;
  font-size: 4.2rem;
}
.b-join__subheading {
  margin-top: 0;
}

.b-join__form {
  background: linear-gradient(180deg, rgba(21, 0, 61, 0.9), rgba(21, 0, 61, 0.6));
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 2em;
  margin-bottom: 2em;
}

.b-join__form__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
}

.b-join__form__form-group p {
  margin-bottom: 0;
}

.b-join__form__form-group__input {
  margin-bottom: 1.9rem;
}

.b-join__form__error-message {
  display: none;
}

.invalid.b-join__form__form-group__input {
  margin-bottom: 0;
  border: 4px solid rgba(235, 89, 62, .5);
}
.invalid.b-join__form__form-group__input + .b-join__form__error-message {
  display: block;
}

.b-join__form h2,
.b-join__form h3 {
  margin: .2em 0 0 0;
}

.b-join__form h2 {
  margin-bottom: .5em;
}

.b-join__form h3:last-of-type {
  margin-bottom: 1.2em;
}

#join-first_name-label span {
  display: block;
  font-size: 1.4rem;
}

/* To get the warning under the radio buttons to go below them both*/
.b-join__join-sex-female {
  margin-top: .4em;
  display: flex;
  flex-wrap: wrap;
}

.b-join__join-sex-female label {
  margin-left: .3em;
}

.b-join__form__form-group__sex small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.b-join__join-sex-female span {
  order: 3;
  flex: 1 0 100%;
}

.b-join__join-sex-female

.b-join__identifying-gender__container {
  margin-top: .5em;
}

.b-join__identifying-gender {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: .5em;
}

.b-join__identifying-gender__hidden {
  display: none;
}

.b-join__identifying-gender p {
  margin: .4em 0 .2em;
  font-style: italic;
  font-size: 1.4rem;
}

.b-join__identifying-gender input {
  margin: .2em;
}

.b-join__form__form-group__email small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.b-join__form__submit {
  margin-top: 1.5em;
}

.b-join__mars-bcg {
  position: fixed;
  bottom: -10px;
  margin:0;
  width: 90%;
  z-index: 1;
}

.b-join__mars-bcg img {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}